:root{
    --primary:rgb(35, 209, 209);
    --card-border: 2px black solid;
}
html{
    background-color: var(--primary);
    font-size: 25px;
}
h1{
    font-size: 180%;
}
h2{
    font-size: 160%;
    margin: 2%;
}
ul{
    display: flex;
    justify-content: flex-end;
}
li{
    display: flex;
    flex-wrap: wrap;
    margin: 2%;
}
footer{
    display: block;
    align-items: center;
}
/* This is gonna be the elements for the skills, Education, Working Projects
will name .cards*/
/* cards start*/
.cards{
    border: var(--card-border) ;
    background-color: rgb(154, 177, 219);
    display: flex;
    justify-content: center;
}
.cards-header{
    border: var(--card-border);
    margin: 2%; 
    background-color:var(--primary); 
}
.AboutMe{
    border: var(--card-border) ;    
}
.Education{
    border: var(--card-border) ;
}
.WorkingProjects{
    border: var(--card-border) ;
}
/* cards end*/